section {
  text-transform: capitalize;
  height: 500px;
  background-color: rgb(204, 204, 198);
  border: solid black 2px;
}
.hero {
  color: white;
  background-color: rgb(20, 19, 19);
  height: 100vh;
}
.hero-area {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.hero-text{
   margin-bottom: 100px;
}
nav {
  justify-content: space-between;
  display: flex;
}

ul {
  display: flex;
  font-size: 40px;
  list-style-type: none;
}
li {
  width: 200px;
  text-decoration: none;
}
.logo {
    height: 80px;
    margin: 20px;
    border-radius: 20px;
}

h1 {
  font-size: 90px;
}
p {
  margin: 0;
  font-size: 30px;
  font-weight: 300px;

}
.hero-text {
  margin-left: 80px;
}
.button {
  width: 150px;
  height: 40px;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  margin-top: 30px;
  background-color: rgb(93, 97, 97);
}

.button:hover {
  background: rgb(72, 151, 72);
}

footer {
  height: 200px;
  background-color: blanchedalmond;
}
.social{
    padding-bottom: 200px;
    position: fixed;
    right: 0;
}
.socials{
    margin: 20px;
}
.sub-section{
display: flex;
justify-content: space-around;
padding: 80px;
}
.information{

}
.headshot-container{
display: flex;
align-items: center;
}
h2{
    font-size: 70px;
}
.container{
    width: 300px;
border-radius: 30px;
}
